python-binance
asyncio~=3.4.3
websockets
pandas~=1.4.3
plotly
neupy
binance~=0.3
httpx~=0.23.0
binance-connector
tqdm
TA-Lib
numpy==1.20.3
theano
kaleido==0.2.1
scikit-learn
selenium~=4.4.3
beautifulsoup4~=4.11.1
requests~=2.28.1
jupyternotify